<div class="container-fluid d-flex justify-content-center align-items-center vh-100 background-blue"><!--div principal-->
    <section class="d-flex">
            <div class="flex-grow-1 background-secondary "><!--div logo-->
                    <img src="logo blanco.png">
                <p>GESTIÓN ACADEMICA INTEGRAL</p>
            </div>
            
            <div class="background-primary p-5 "><!--div formulario-->
                <form action="">
                    <div class="mb-3 ">
                        <label for="formGroupExampleInput" class="form-label">USUARIO</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" >
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label ">CONTRASEÑA</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2">
                    </div>
                </form>
                <button class="">INGRESAR</button>
            </div>

    </section>
</div>