/* You can add global styles to this file, and also import other style files
 */
:root{
--background-blue: #1B263B;
--primary-blue: #0D1B2A;
--secondary-blue: #415A77;
}

.background-blue {
  background-color: var(--background-blue);
  color: white;
}

.background-primary{
    background-color: var(--primary-blue);
    color: white;
}

.background-secondary{
    background-color: var(--secondary-blue);
    color: white;
}
