

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">
      <img src="logoV2Negro.svg" alt="Logo" height="50">
    </a>
  </div>
  
  <button class="btn btn-outline-danger me-2"  (click)="logout()">
    <i class="bi bi-box-arrow-right me-1"></i>
  Logout
  </button>
</nav>

<div class="container mt-4">

  <ul class="nav nav-pills mb-4" *ngIf="role === 'admin'">
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="/private/admin/dashboard/user-management" routerLinkActive="active">
        <i class="bi bi-bell-fill me-1"></i>
        Solicitudes Pendientes <span class="badge bg-danger ms-1">2</span>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="/private/admin/dashboard/take-attendance" routerLinkActive="active">
        <i class="bi bi-calendar-check me-1"></i>
        Tomar Asistencia
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="/private/admin/dashboard/justify-absence" routerLinkActive="active">
        <i class="bi bi-calendar-check me-1"></i>
        Justificar Asistencia
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="/private/admin/dashboard/role-management" routerLinkActive="active">
        <i class="bi bi-person-check-fill me-1"></i> Definir Roles
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/private/carreras" routerLinkActive="active">
        Ver Carreras
      </a>
    </li>
    </ul>

  <ul class="nav nav-pills mb-4" *ngIf="role === 'profesor'">
    <li class="nav-item">
      <a class="nav-link" routerLink="/private/teacher/dashboard/subjects" routerLinkActive="active">
        Mis Materias
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/private/teacher/dashboard/attendance-list" routerLinkActive="active">
        Ver Asistencias
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/private/carreras" routerLinkActive="active">
        Ver Carreras
      </a>
    </li>
  </ul>

  <ul class="nav nav-pills mb-4" *ngIf="role === 'estudiante'">
    <li class="nav-item">
      <a class="nav-link" routerLink="/private/student/attendance-history" routerLinkActive="active">
        Mi Historial de Asistencias
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/private/student/enroll" routerLinkActive="active">
        Inscripciones
      </a>
    </li>
  </ul>

</div>
<router-outlet></router-outlet>
<footer></footer>